:root {
  --primary-col: #19214d;
  --primary-bg: #deeff5;
  --secondary-col: #303865;
  --primary-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --secondary-font: sans-serif;
  --invert:1;
  --border:2px solid #b7c6d3;
}

#logo,#menu{
    filter: invert(var(--invert,0)); 
    /* if invert not found then fallback will be 0 */
}

.moto-text{
    font-weight: bold;
    font-size: 2rem;
}

.moto{
    min-height: 60vh;
    justify-content: center;
}

.moto::before,
.moto::after {
    display: none;
}

.roles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 1em;
    padding-block: 2em;
    gap: 1em;
    font-family: var(--secondary-font);
}

.roles-row{
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-bottom: var(--border);
    padding-block: 15px;
    padding-inline: 1em;
    max-width: 1240px;
}

.roles-row-heading{
    font-size: 2rem;
    color: var(--primary-col);
}

.roles-row-desp{
    /* font-size: 1.3rem; */
    color: var(--primary-col);
    font-weight: 400;
    /* color: var(--secondary-col); */
    line-height: 1.4em;
}

.hero-last{
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}

.cta{
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    min-height: 80vh;
    max-width: 1240px;
    margin: auto;
}

.cta-text{
    font-weight: bold;
    color: var(--primary-col);
    font-size: 1.3rem;
}

.cta-desp{
    line-height: 1.4em;
    font-size: 1rem;
}

@media screen and (min-width:640px){
    .moto-text{
        font-size: 3rem;
        text-align: center;
    }
    .roles-row{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-inline: 2em;
        padding-block: 6em;
    }
    .roles-row-desp{
        font-size: 1.5rem;
        max-width: 50%;
    }
    .hero-text-heading{
        font-size: 8rem;
    }
    .cta{
        align-items: center;
    }
    .cta-text{
        font-size: 3rem;
        text-align: center;
    }

    .cta-desp{
        text-align: center;
        font-size: 1.5rem;
    }
}